{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  Attendee Info
{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block extra_head %}
  <script defer
          type="text/javascript"
          src="{% static 'js/persons/attendees_update_view.js' %}">
  </script>
{% endblock extra_head %}

{% block content %}

{% load crispy_forms_tags %}



<form class="attendees-formset"
      method="POST">
  {% csrf_token %}

  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <h1>
        All accessible attendees
      </h1>
    </div>
    <div class="d-flex form-actions align-items-center">
      <button class="enable-edit btn btn-xs btn-outline-primary"
              type="button"
              onclick="return confirm('Do you want to enter the edit mode and ready to change something?')"
              disabled="disabled"
              aria-disabled="true"
              title="Enable edit mode">
        Edit
      </button>
      <input class="d-none cancel-edit-reset btn btn-xs btn-outline-danger"
             type="reset"
             name="cancel-edit-reset"
             onclick="return confirm('Are you sure to cancel, lost all your changes and leave edit mode?')"
             value="Cancel"
             title="lost all your changes and leave edit mode"
             id="reset-id-cancel">
      <input class="d-none reset-editing btn btn-xs btn-outline-warning"
             type="reset"
             name="reset"
             onclick="return confirm('Are you sure to reset and lost all your changes?')"
             title="lost all your changes and start over the editing again"
             value="Reset"
             id="reset-id-reset">
      <input class="d-none submit submit-formset btn btn-xs btn-outline-success"
             type="submit"
             name="submit"
             value="Save All"
             title="Save and submit all your changes"
             onclick="return confirm('Are you sure to save and submit all your changes?')"
             id="submit-save">
    </div>
  </div>

  {{ formset.management_form|crispy }}

  {% for form in formset %}
      {% crispy form %}
  {% endfor %}
</form>






{% endblock content %}
