{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  Attendee Update
{% endblock title %}

{% block extra_css %}
  <link rel="preload"
        as="style"
        href="{% static 'devextreme/dx.common.css' %}"
        onload="this.rel='stylesheet'">

  <link rel="preload"
        as="style"
        href="{% static 'devextreme/dx.light.compact.css' %}"
        onload="this.rel='stylesheet'">
{% endblock extra_css %}

{% block extra_head %}
  <script defer
          type="text/javascript"
          src="{% static 'devextreme/dx.all.js' %}"
          integrity="sha384-cnNGdFpQw8wkyU1GB8McOr3QflVl8UeaRXUucUCnBL3FR61457ll67FTDYh/yQ5O sha512-7rH3hw5MKHmtN515LKVdNefqss0exGarCbF8fffYfioGwUZQ/yaTlHn+XNTAJ3fkIPsbzY+Wi9CKP1f/PVImhw=="
          crossorigin="anonymous">
  </script>

  <script defer
          type="text/javascript"
          src="{% static 'js/persons/datagrid_attendee_update_view.js' %}">
  </script>
{% endblock extra_head %}

{% block content %}
<div class="nav-buttons d-flex justify-content-between">
  <div class="d-flex">
    <h3 class="page-title">
      Fetching attendee details ...
    </h3>
  </div>
  <div class="spinner-border"
       role="status">
    <span class="sr-only">
      Loading...
    </span>
  </div>
  <div class="d-flex align-items-center form-actions">
    {#  if menu options allow editing #}
      <a class="add-attendee btn btn-outline-success btn-xs"
         title="add a new attendee"
         role="button"
         href="#">
        +Add Attendee
      </a>
      <div class="custom-switch button btn btn-outline-primary"
           title="Click toogle to switch editing modes of the entire page">
        <input type="checkbox"
               class="custom-control-input"
               id="custom-control-edit-checkbox">
        <label class="custom-control-label"
               for="custom-control-edit-checkbox">
          Editing
        </label>
      </div>
  </div>
</div>

<div class="form-container">
  <form id="attendee-update-form"
        method="post">
    <input type="hidden"
           name="attendee-id"
           value="{{ targeting_attendee_id}}">
    {% csrf_token %}
    <div class="datagrid-attendee-update"
         data-attendee-contenttype-id="{{attendee_contenttype_id}}"
         data-empty-image-link="{{empty_image_link}}"
         data-meets-endpoint="{{meets_endpoint}}"
         data-characters-endpoint="{{characters_endpoint}}"
         data-divisions-endpoint="{{divisions_endpoint}}"
         data-addresses-endpoint="{{addresses_endpoint}}"
         data-states-endpoint="{{states_endpoint}}"
         data-attendings-endpoint="{{attendings_endpoint}}"
         data-assemblies-endpoint="{{assemblies_endpoint}}"
         data-attendee-endpoint="{{attendee_endpoint}}"
         data-assembly="{{current_assembly_slug}}">
    </div>
  </form>
  <form id="attendingmeet-update-popup-form"
        action="/persons/api/datagrid_data_attendingmeet/"
        method="post">
    <div class="popup-attendingmeet-update">
    </div>
  </form>
  <form id="place-update-popup-form"
        action="/whereabouts/api/datagrid_data_place/"
        method="post">
    <div class="popup-place-update">
    </div>
  </form>
  <form id="familyattendee-update-popup-form"
        action="/persons/api/datagrid_data_familyattendee/"
        method="post">
    <div class="popup-familyattendee-update">
    </div>
  </form>
</div>
{% endblock content %}
