{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  Attendee Update
{% endblock title %}

{% block extra_css %}
  <link rel="preload"
        as="style"
        href="{% static 'devextreme/dx.common.css' %}"
        onload="this.rel='stylesheet'">

  <link rel="preload"
        as="style"
        href="{% static 'devextreme/dx.light.compact.css' %}"
        onload="this.rel='stylesheet'">
{% endblock extra_css %}

{% block extra_head %}
  <script defer
          type="text/javascript"
          src="{% static 'devextreme/dx.all.js' %}"
          integrity="sha384-cnNGdFpQw8wkyU1GB8McOr3QflVl8UeaRXUucUCnBL3FR61457ll67FTDYh/yQ5O sha512-7rH3hw5MKHmtN515LKVdNefqss0exGarCbF8fffYfioGwUZQ/yaTlHn+XNTAJ3fkIPsbzY+Wi9CKP1f/PVImhw=="
          crossorigin="anonymous">
  </script>

  <script defer
          type="text/javascript"
          src="{% static 'js/persons/datagrid_attendee_update_view.js' %}">
  </script>
{% endblock extra_head %}

{% block content %}
<div class="d-flex justify-content-between">
    <div class="d-flex">
      <h3>
        Update attendee details
      </h3>
    </div>
    <div class="d-flex">
      <a class="add-attendee d-flex align-items-center btn btn-outline-secondary btn-xs"
         title="add a new attendee"
         role="button"
         href="#">
        +Add Attendee
      </a>
    </div>

  </div>

<div id="attendee_{{ current_attendee_id }}"
     class="datagrid-update"
     data-attendee-endpoint="{{attendee_endpoint}}"
     data-assembly="{{current_assembly_slug}}">
</div>

{% endblock content %}
