{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<script defer
        type="text/javascript"
        src="{% static 'js/users/profile.js' %}">
</script>
{% endblock extra_head %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<p id="browser-detection">Your browser does not support JavaScript</p>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

